@model EstadoCuenta.Domain.DTOs.EstadoCuentaDto

@{
    ViewData["Title"] = "Estado de Cuenta";
}

<div class="mt-5 d-flex justify-content-center">
    <div class="card" style="width: 900px">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h2>Estado de Cuenta de Tarjeta de Credito</h2>
                <a href="/" class="btn btn-outline-primary my-2 mx-md-2">Regresar</a>
            </div>
            
            <div class="d-flex justify-content-between px-1 py-4">
                <div class="d-flex gap-4">
                    <div>
                        <div class="fw-bold py-1">Nombre de Cliente:</div>
                        <div class="fw-bold py-1">Número de Tarjeta de Crédito:</div>
                    </div>
                    <div>
                        <div class="text-muted py-1">@Model.NombreCliente</div>
                        <div class="text-muted py-1">@Model.NumeroTarjeta</div>
                    </div>
                </div>
                <div class="d-flex gap-4">
                    <div>
                        <div class="fw-bold py-1">Saldo Actual:</div>
                        <div class="fw-bold py-1">Límite de Crédito:</div>
                        <div class="fw-bold py-1">Saldo Disponible:</div>
                        <div class="fw-bold py-1">Interés Bonificable:</div>
                        <div class="fw-bold py-1">Cuota Mínima a Pagar:</div>
                        <div class="fw-bold py-1">Monto Total:</div>
                        <div class="fw-bold py-1">Monto Total con Interés:</div>
                    </div>
                    <div>
                        <div class="text-muted py-1">@Model.SaldoActual.ToString("C")</div>
                        <div class="text-muted py-1">@Model.LimiteCredito.ToString("C")</div>
                        <div class="text-muted py-1">@Model.SaldoDisponible.ToString("C")</div>
                        <div class="text-muted py-1">@Model.InteresBonificable.ToString("C")</div>
                        <div class="text-muted py-1">@Model.CoutaMinimaAPagar.ToString("C")</div>
                        <div class="text-muted py-1">@Model.MontoTotal.ToString("C")</div>
                        <div class="text-muted py-1">@Model.MontoTotalConInteres.ToString("C")</div>

                    </div>
                </div>

            </div>

        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h3>Listado de  Compras</h3>
                    <div class="d-flex gap-5 py-2">
                        <span><b>Compras Mes Anterior:</b> @Model.TotalMesAnterior.ToString("C")</span>
                        <span><b>Compras Mes Actual:</b> @Model.TotalMesActual.ToString("C")</span>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th style="width:250px">Número de Autorización</th>
                                <th style="width:200px">Fecha</th>
                                <th>Descripción</th>
                                <th style="width:200px">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var compra in Model.Compras)
                            {
                                <tr>
                                    <td>@compra.NumeroAutorizacion</td>
                                    <td>@compra.Fecha.ToString("dd/MM/yyyy")</td>
                                    <td>@compra.Descripcion</td>
                                    <td>@compra.Monto.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>